<h2>Welcome to Pine</h2>

<p>Pine is a place to store trees of note. Mainly it's for Aoife.</p>

<p>We have <%= number_with_delimiter(@tree_count) %> trees on record.</p>

<p class="h4"><b>tree</b> trē</p>

<p><i>n.</i> A perennial woody plant having a main trunk and usually a distinct crown.</p>

<h4>Did you know?</h4>

<p><%= @fact %></p>
