<h1>Add a Tree</h1>

<%= bootstrap_form_with model: @tree do |form| %>
    <%= render partial: "form", locals: { form: form } %>

    <%= form.form_group do %>
        <%= form.submit "Add tree" %>
    <% end %>
<% end %>

